[submodule "solidity_basics/hello_foundry/lib/forge-std"]
	path = solidity_basics/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity_basics/basics/lib/forge-std"]
	path = solidity_basics/basics/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
